.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  background-color: #FFF;
  border-bottom: 1px solid #F8F8F8;

  .centeredHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoBlock {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }

  .signBlock {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;

    .centeredSing {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        cursor: pointer;
        background: none;
        border: none
      }
      .basketBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        .basketInfo {
          position: relative;
          left: 77px;
          bottom: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(255, 255, 255, 1);
          font-size: 8px;
          font-weight: 700;
          line-height: 8px;
          letter-spacing: 0em;
          background: rgba(254, 136, 136, 1);
          border: 1px solid rgba(255, 255, 255, 1);
          width: 14px;
          height: 14px;
          border-radius: 8px;
        }
        .imgCart {
          margin-left: 50px;
        }
      }
      a, a:hover, a:visited, a:focus {
        margin: 10px;
        text-decoration: none;
        color: rgba(33, 37, 66, 1);
        font-size: 14px;
        line-height: 16px;
        color: #212542;
      }
    }
  }


}
